@font-face {
    font-family: 'MrMonstar';
    src: url('fonts/mr-monstar-font.woff') format('woff'), url('fonts/mr-monstar-font.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CounterAttack';
    src: url('fonts/counter-attack-font.woff') format('woff'), url('fonts/counter-attack-font.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --col-title: 197, 238, 209;
    --col-story: 217, 247, 226;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

body {
    background-color: #0b0e3a;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* CSS Grid Definitions */
#title-page {
    grid-area: 1 / 1 / 2 / 2;
}

#page-one {
    grid-area: 2 / 1 / 3 / 2;
}

#page-two {
    grid-area: 3 / 1 / 4 / 2;
}

#page-three {
    grid-area: 4 / 1 / 5 / 2;
}

#page-four {
    grid-area: 5 / 1 / 6 / 2;
} 

/* End CSS Grid Definitions */

.story-page {
    height: 100vh;
    display: grid;
    position: relative;
    scroll-snap-align: center;
    
}

.story-text {
    display: grid;
    font-family: CounterAttack, sans-serif;
    color: rgba(var(--col-story), 1);
    font-size: 3rem;
    position: absolute;
    top: 45vh;
    z-index: 9999;
    text-align: center;
    width: 100%;
}

.story-title {
    font-family: MrMonstar, sans-serif;
    font-size: 4rem;
    color: rgba(var(--col-title), 1);
}

.story-page>.story-text {
    text-shadow:
        0.04rem 0 black,
        0 0.04rem black,
        -0.04rem 0 black,
        0 -0.04rem black,
        -0.04rem -0.04rem black,
        -0.04rem 0.04rem black,
        0.04rem -0.04rem black,
        0.04rem 0.04rem black;
}

.art-container {
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    height: 100vh;
    top: 0;
    pointer-events: none;
}

/* Title Page Art */

.art {
    position: absolute;
    pointer-events: none;
}

#title-page-art-ground  {
    width: 100%;
    bottom: 0;
    z-index: 10;
}


#title-page-art-tree {
    bottom: 0;
    right: -4%;
    z-index: 10;
}

#title-page-art-moon {
    top: 4%;
    right: 4%;
}

#title-page-art-owl-wrapper {
    position: absolute;
    right: 340px;
    bottom: 530px;
    display: inline-block;
    min-width: 118px;
    min-height: 180px;
}

#title-page-art-owl {   
    pointer-events: auto;
}


#title-page-art-owl-action {
    color: white;
    position: relative;
    bottom: -40px;
    z-index: 9999;
    left: -9ch;
    opacity: 0;
}

/* End Title Page Art */


/* Page 3 Art */

#page-three-art-ground {
    width: 100%;
    bottom: -2.5%;
    z-index: 10;
}

#page-three-art-graves {
    width: 40%;
    bottom: 2.5%;
    right: 5%;
    z-index: 10;
}

#page-three-art-skel-walk {
    bottom: 2.5%;
    right: 5%;
    z-index: 10;
    height: 25%;
}

/* End Page 3 Art */


/* Fog Effect CSS */

.fog {
    position: relative;
    height: 100vh;
    width: 100%;
}

.fog-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.fog-img {
    position: absolute;
    height: 100vh;
    width: 300vw;
    z-index: 2;
}

.fog-img-first {
    background: url("/assets/images/fog-1.png");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    animation: marquee 60s linear infinite;
}

.fog-img-second {
    background: url("/assets/images/fog-2.png");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    animation: marquee 30s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-200vw, 0, 0);
    }
}

/* End Fog */
>>>>>>> 0dcabfb012579479a9f11eec8d066d0c20c5bbfb

/* Media Queries */

@media only screen and (max-width: 465px) {
    .story-title {
        font-size: 3.5rem;
    }

    .story-text {
        font-size: 2.5rem;
        padding: 2rem;
        margin-top: -5rem;
    }
}

@media only screen and (max-width: 465px) {
    .story-title {
        font-size: 2.75rem;
    }
}