@font-face {
    font-family: 'MrMonstar';
    src: url('fonts/mr-monstar-font.woff') format('woff'), url('fonts/mr-monstar-font.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CounterAttack';
    src: url('fonts/counter-attack-font.woff') format('woff'), url('fonts/counter-attack-font.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    scroll-snap-type: proximity;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.header {
    font-family: MrMonstar, sans-serif;
}
